# Build output and cache directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler-installed gems (see .bundle/config)
vendor/
Gemfile.lock

# Local files during development
local/

# macOS
.DS_Store
