{%- assign me = site.data.publications.me -%}
<ol class="pubs" role="list">
{%- for pub in site.data.publications.list -%}
  <li class="pubs__item">
    <span class="pubs__ord" aria-hidden="true">{{ forloop.index }}</span>
    <div class="pubs__body">
      <h3 class="pubs__title">{{ pub.title }}</h3>
      <p class="pubs__authors">
        {%- for a in pub.authors -%}
          {%- if me contains a -%}<span class="pubs__me">{{ a }}</span>{%- else -%}{{ a }}{%- endif -%}
          {%- unless forloop.last %}, {% endunless -%}
        {%- endfor -%}
      </p>
      <ul class="pubs__links">
        {%- if pub.arxiv -%}
        <li><a class="pubs__link" href="https://arxiv.org/abs/{{ pub.arxiv }}">arXiv:{{ pub.arxiv }}</a></li>
        {%- endif -%}
        {%- if pub.journal_url -%}
        <li><a class="pubs__link" href="{{ pub.journal_url }}">{{ pub.journal_label | default: "Journal" }}</a></li>
        {%- elsif pub.doi -%}
        <li><a class="pubs__link" href="https://doi.org/{{ pub.doi }}">DOI</a></li>
        {%- endif -%}
        {%- if pub.badge -%}
        <li><span class="pubs__note"{% if pub.badge_title %} title="{{ pub.badge_title | escape }}"{% endif %}>{{ pub.badge }}</span></li>
        {%- endif -%}
      </ul>
    </div>
  </li>
{%- endfor -%}
</ol>
